<pre class="text-white ps-3 ps-md-0">./vendor/bin/pyramidal --testdox
<font color="#C4A000"><b>PyramidalTests 2.x.x</b></font> by Andy Daniel Navarro Taño and contributors.
PHPUnit 9.5.x by Sebastian Bergmann and contributors.

<u style="text-decoration-style:single">tests/test-example-decorators.php</u>
 <font color="#4E9A06">✔</font> the homepage is ok

<u style="text-decoration-style:single">do several things</u>
 <font color="#4E9A06">✔</font> an expected result
 <font color="#4E9A06">✔</font> another expected result
 <font color="#4E9A06">✔</font> another expected result more

    <u style="text-decoration-style:single">do several things more</u>
    <font color="#4E9A06">✔</font> an expected result

Time: 00:00.009, Memory: 6.00 MB

<span style="background-color:#4E9A06"><font color="#2E3436">OK (9 tests, 9 assertions)</font></span>
</pre>