<pre class="text-white ps-3 ps-md-0">./vendor/bin/pyramidal
<font color="#C4A000"><b>PyramidalTests 2.x.x</b></font> by Andy Daniel Navarro Taño and contributors.
PHPUnit 9.5.x by Sebastian Bergmann and contributors.

.                                                           1 / 1 (100%)

Time: 00:00.008, Memory: 6.00 MB

<span style="background-color:#4E9A06"><font color="#2E3436">OK (1 test, 1 assertion)</font></span>

</pre>