<pre class="text-white ps-3 ps-md-0">./vendor/bin/pyramidal --testdox
<font color="#C4A000"><b>PyramidalTests 2.x.x</b></font> by Andy Daniel Navarro Taño and contributors.
PHPUnit 9.5.x by Sebastian Bergmann and contributors.

<u style="text-decoration-style:single">creating members for the test cases</u>
 <font color="#4E9A06">✔</font> myProperty is null
 <font color="#4E9A06">✔</font> myStaticProperty is 1000

Time: 00:00.006, Memory: 6.00 MB

<span style="background-color:#4E9A06"><font color="#2E3436">OK (2 tests, 2 assertions)</font></span>
</pre>